body{
	font-family: "Hiragino Sans GB";
}

header .container-fluid{
	height: 240px;
	padding-top: 40px;
	padding-bottom: 0; 
	background: #2e2e2f;
	vertical-align: middle;

}
.container-fluid img{
	width: 100px;
	height: 100px;
	margin-bottom: -10px; 
}
.text-white{
	color: #d1d1de;
}
a{
	color: #a1a1ae;
}
a:hover, a:active{
	color: #d1d1de;
	text-decoration: none;
}
.navbar-nav {
  float: none;
  text-align:center;
  padding: -10px;
}
ul.nav li{
    float:left;
    display: block;
    width: 50%;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.contain{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	clear: both;
}
.row{
	margin: 0 auto;
}
.card{
	background-color: #e9eaef;
	box-shadow: 1px 1px 1px 1px #e9eaef;
}
.zp_pic{
	width: 100%;
}
.col-sm-12 .zp_pic{
	width: 460px;
	height: 460px;
}